<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Watermark Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div id="uploadWarning" style="color: red; font-weight: bold; margin-bottom: 20px;">
        Notice: The uploaded image will be stored on our server. Please consider carefully before uploading.
    </div>
    <div id="burnAfterReadDiv">
        <label for="burnAfterRead">Burn After Reading</label>
        <input type="checkbox" id="burnAfterRead" name="burnAfterRead">
    </div>

    <div id="burnAfterReadDivPrompt">
        <!-- If you check \"Burn After Reading\", your uploaded image and the watermarked image will be deleted within five minutes after processing is completed. Please download them in time. -->
    </div>

    <div id="burnAfterReadText" style="color: red; font-weight: bold;"></div>
    <!-- 语言切换按钮 -->
    <div class="lang-buttons">
        <a id="langZh">中文</a>
        <a id="langEn">English</a>
    </div>

    <h1>Image Watermark Web</h1>
    
    <!-- 自定义文件选择按钮 -->
    <label for="fileInput" class="custom-file-label">Choose File</label>
    <input type="file" id="fileInput">
    
    <!-- 上传的图片预览 -->
    <h2>Uploaded Image</h2>
    <img id="imagePreview" src="" alt="No Image" style="display:none;">
    <button id="processBtn" style="display:none;">Process Image</button>
    
    <!-- 加载动画 -->
    <div id="loader" class="loader"></div>

    <h2>Watermark types</h2>
    <div class="watermark-selection">
        <input type="radio" name="watermark_type" id="watermark1" value="1">
        <label for="watermark1">
            <img src="{{ url_for('static', filename='images/t1.png') }}" alt="Watermark 1" width="200" height="200">
        </label>

        <input type="radio" name="watermark_type" id="watermark2" value="2">
        <label for="watermark2">
            <img src="{{ url_for('static', filename='images/t2.png') }}" alt="Watermark 2" width="200" height="200">
        </label>

        <input type="radio" name="watermark_type" id="watermark3" value="3">
        <label for="watermark3">
            <img src="{{ url_for('static', filename='images/t3.png') }}" alt="Watermark 3" width="200" height="200">
        </label>
        
        <!-- <input type="radio" name="watermark_type" id="watermark5" value="5">
        <label for="watermark5">
            <img src="{{ url_for('static', filename='t2.png') }}" alt="Watermark 5" width="200" height="200">
        </label>

        <input type="radio" name="watermark_type" id="watermark6" value="6">
        <label for="watermark6">
            <img src="{{ url_for('static', filename='t2.png') }}" alt="Watermark 6" width="200" height="200">
        </label>

        <input type="radio" name="watermark_type" id="watermark7" value="7">
        <label for="watermark7">
            <img src="{{ url_for('static', filename='t2.png') }}" alt="Watermark 7" width="200" height="200">
        </label>

        <input type="radio" name="watermark_type" id="watermark8" value="8">
        <label for="watermark8">
            <img src="{{ url_for('static', filename='t2.png') }}" alt="Watermark 8" width="200" height="200">
        </label> -->

    </div>

    <!-- 处理后的图片显示 -->
    <h2>Processed Image</h2>
    <img id="processedImage" src="" alt="Processed Image" style="display:none;">
    <a id="downloadBtn" style="display:none;">Download Processed Image</a>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

<!-- TODO:
- 解耦CSS JS -->