name: Release Docker image tar

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Checkout (with submodules)
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to private registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_HOST }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASS }}

      - name: Build, push and export
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.REGISTRY_HOST }}/${{ secrets.IMAGE_NAME }}:${{ github.ref_name }}
            ${{ secrets.REGISTRY_HOST }}/${{ secrets.IMAGE_NAME }}:latest
          outputs: type=docker,dest=${{ runner.temp }}/autowatermark.tar

      - name: Compress
        run: gzip -f ${{ runner.temp }}/autowatermark.tar

      - name: Rename asset with version
        run: |
          mv "${{ runner.temp }}/autowatermark.tar.gz" \
             "${{ runner.temp }}/autowatermark-${{ github.ref_name }}.tar.gz"

      - name: Create Release and upload asset
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ runner.temp }}/autowatermark-${{ github.ref_name }}.tar.gz
